@model netcore.Models.Invent.Receiving

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
    ViewData["EntityIcon"] = "fa fa-truck";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="receivingId" />
        <div class="form-group hidden">
            <label asp-for="branchId" class="control-label"></label>
            <select asp-for="branchId" class="form-control select2" asp-items="ViewBag.branchId"></select>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="receivingNumber" class="control-label"></label>
                    <input asp-for="receivingNumber" class="form-control" />
                    <span asp-validation-for="receivingNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="purchaseOrderId" class="control-label"></label>
                    <select asp-for="purchaseOrderId" class="form-control select2" asp-items="ViewBag.purchaseOrderId"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="receivingDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="receivingDate" class="form-control pull-right datepicker" type="text" />
                    </div>
                    <span asp-validation-for="receivingDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group hidden">
                    <label asp-for="vendorId" class="control-label"></label>
                    <select asp-for="vendorId" class="form-control select2" asp-items="ViewBag.vendorId"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="vendorDO" class="control-label"></label>
                    <input asp-for="vendorDO" class="form-control" />
                    <span asp-validation-for="vendorDO" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="vendorInvoice" class="control-label"></label>
                    <input asp-for="vendorInvoice" class="form-control" />
                    <span asp-validation-for="vendorInvoice" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="warehouseId" class="control-label"></label>
                    <select asp-for="warehouseId" class="form-control select2" asp-items="ViewBag.warehouseId"></select>
                </div>
            </div>
        </div>
    </div>
</div>








@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



